body{
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	
	margin-left:auto;
	margin-right:auto;
}

#gameBoard div{
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
}


.tree{
	background-image:url("images/tree.png");
}
.flag{
	background-image:url("images/flag.png");
}
.rock{
	background-image:url("images/rock.png");
}
.fenceup{
	background-image:url("images/fenceup.png");
}
.fenceside{
	background-image:url("images/fenceside.png");
}
.water{
	background-image:url("images/water.png");
}

.horse{
	background-image:url("images/normalarrow.png");
}
.horsedown{
	background-image:url("images/normalarrowdown.png");
}
.horseleft{
	background-image:url("images/normalarrowleft.png");
}
.horseright{
	background-image:url("images/normalarrowright.png");
}

.riderhorse{
	background-image:url("images/mainarrow.png");
}
.riderhorsedown{
	background-image:url("images/mainarrowdown.png");
}
.riderhorseleft{
	background-image:url("images/mainarrowleft.png");
}
.riderhorseright{
	background-image:url("images/mainarrowright.png");
}

.jump{
	background-image:url("images/jumpup.png");
}
.jumpdown{
	background-image:url("images/jumpdown.png");
}
.jumpleft{
	background-image:url("images/jumpleft.png");
}
.jumpright{
	background-image:url("images/jumpright.png");
}

.enemy{
	background-image:url("images/enemyarrow.png");
}
.enemydown{
	background-image:url("images/enemyarrowdown.png");
}
.enemyleft{
	background-image:url("images/enemyarrowleft.png");
}
.enemyright{
	background-image:url("images/enemyarrowright.png");
}
.sentry{
	background-image:url("images/sentry.png");
}

.bridge{
	background-color:brown !important;
}



