body{
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width:600px;
	height:600px;
	
	margin-left:auto;
	margin-right:auto;
	
}

#gameBoard div{
	background-color:white;
	background-repeat:no-repeat;
	background-size:cover;
	
}

/*** Images ***/

.tree{
	background-image:url("images/tree.png");
}
.flag{
	background-image:url("images/redflag.png");
}
.rock{
	background-image:url("images/rock.png");
}
.fenceup{
	background-image:url("images/fenceup.png");
}
.fenceside{
	background-image:url("images/fenceside.png");
}
.water{
	background-image:url("images/water.png");
}

.horseup{
	background-image:url("images/horseup.png");
}
.horsedown{
	background-image:url("images/horsedown.png");
}
.horseleft{
	background-image:url("images/horseleft.png");
}
.horseright{
	background-image:url("images/horseright.png");
}

.riderhorseup{
	background-image:url("images/riderhorseup.png");
}
.riderhorsedown{
	background-image:url("images/riderhorsedown.png");
}
.riderhorseleft{
	background-image:url("images/riderhorseleft.png");
}
.riderhorseright{
	background-image:url("images/riderhorseright.png");
}

.jumpup{
	background-image:url("images/fencejumpup.png");
}
.jumpdown{
	background-image:url("images/fencejumpdown.png");
}
.jumpleft{
	background-image:url("images/fencejumpleft.png");
}
.jumpright{
	background-image:url("images/fencejumpright.png");
}

.enemy{
	background-image:url("images/enemy.png");
}
.enemydown{
	background-image:url("images/enemydown.png");
}
.enemyleft{
	background-image:url("images/enemyleft.png");
}
.enemyright{
	background-image:url("images/enemyright.png");
}
.sentry{
	background-image:url("images/rider.png");
}

.bridge{
	background-color:brown !important;
}

.badflag{
	background-image:url("images/blueflag.png");
}


/*** End of images ***/






/*** Messages ***/
.message{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	color:#ea907a;
	font-family:"Lucida Console", Courier, monospace;
	font-size:8em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
	

}

/*** Messages ***/
#startscreen{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	line-height:7vh;
}

#pg{
	font-family:"Lucida Console", Courier, monospace;
	font-size:2em;
	text-align:center;
	padding:10px;
	color:#ea907a;
}


#welcome{
	color:#fbc687;
	font-family:"Lucida Console", Courier, monospace;
	font-size:4em;
	vertical-align:top;
	text-align:center;
	padding: 40px;
}

/*** Buttons ***/

.newbutton {
	position:absolute;
	top:15px;
	right:15px;
	height:80px;
	width:150px;
	background-color:#aacdbe;
	color:#f4f7c5;
	font-family:"Lucida Console", Courier, monospace;
	border-radius: 25px;
}




