body{
	background-color:#00ace6;
	font-family:Candara,sans-serif;
}



h1{
	color:white;
	font-size: 50px;
}






#output{
	width:600px;
	height:200px;
	border:thin dotted white;
	padding: 10px;
	font-size: 20px;
	color:white;
	
	
}









.button{
	color:white;
	background-color: #ccccff;
	border:none;
	outline:none;
	padding: 15px 32px;
	font-size:1.5em;
	font-family:Verdana,sans-serif;
	border-radius:75px 20px;
	transition-duration: 0.4s;
	margin-bottom:20px;
}



.button:hover{
	color: #ccccff;
	background-color:white;
	padding: 15px 100px;
}